@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --soft-blue: #6565e7;
  --soft-purple: #af67e9;
  --soft-orange: #f47c57;
  --dark-blue: #1d1e35;
  --very-drk-gray-blue: #4a4b5e;
  --drk-gray-blue: #787887;
  --lght-gray-blue: #e7e7e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(#af67e9, #6565e7);
  height: 100vh;
  min-height: 50rem;
}

.container {
  width: 88%;
  margin: 0 auto;
  height: inherit;
  overflow-y: scroll;
}

.main-container {
  position: relative;
  margin: 15rem auto 0 auto;
  padding: 12rem 2.5rem 5rem 2.5rem;
  border-radius: 2.3rem;
  background-color: #f2f2f2;
  box-shadow: 0rem 4rem 2rem -2rem #1d1e354d;
  max-width: 54.6rem;
}

h1 {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

.faq-cont {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  padding-bottom: 1.5rem;
}

.accordion__header:hover .accordion__title {
  color: var(--soft-orange);
}

.accordion__title {
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--very-drk-gray-blue);
  transition: 0.3s;
}

.accordion__arrow {
  transition: 0.2s;
}

.accordion__title.is-active {
  font-weight: 700;
  color: var(--dark-blue);
}

.accordion__arrow.is-active {
  transform: rotate(180deg);
}

.accordion__text {
  font-size: 1.2rem;
  width: 90%;
  color: var(--drk-gray-blue);
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.accordion__text.is-active {
  height: 40px;
  opacity: 1;
  margin-bottom: 1.5rem;
}

.accordion__border {
  border-bottom: 1px solid #78788725;
}

.mobile-cont {
  width: 95%;
  max-width: 27rem;
  margin: 0 auto;
  height: 1px;
}

.desktop-cont {
  display: none;
}

.desktop-box-img {
  display: none;
}
.mobile-img-cont {
  position: relative;
  transform: translate(0%, -126%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translate(5%, 95%);
  width: 24rem;
}
.mobile-main-img {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 69em) {
  .desktop-cont {
    position: relative;
    display: block;
    width: 40%;
  }

  .mobile-cont {
    display: none;
  }
  .container {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7rem 7rem 8rem 7rem;
    margin: 0;
    width: 92rem;
    max-width: 92rem;
    background-image: url("./images/illustration-woman-online-desktop.svg"),
      url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left -18% center, calc(50% - 55rem) calc(50% - 7rem);
  }

  .desktop-box-img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-86%, -17%);
  }

  h1 {
    text-align: left;
  }
  .faq-cont {
    width: 50%;
  }

  .accordion__title {
    font-size: 1.4rem;
  }
}
